---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TeZ7Us1_hKnbMFoMUhNEnINzBgLB3vR8nJRwF8LO04M/values/Sound%20Cards?key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "range": "'Sound Cards'!A1:Z994",
          "majorDimension": "ROWS",
          "values": [
            [
              "category",
              "id",
              "correct_answer"
            ],
            [
              "Misc",
              "4202",
              "Boiling Water"
            ],
            [
              "Instruments",
              "14354",
              "Mandolin"
            ],
            [
              "Instruments",
              "15401",
              "Tibetian Bell"
            ],
            [
              "Animals",
              "16933",
         [...]
