---
http_interactions:
- request:
    method: get
    uri: https://freesound.org/apiv2/sounds/515053/?token=<FREE_SOUND_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: UTF-8
      string: '{"id":515053,"url":"https://freesound.org/people/Nox_Sound/sounds/515053/","name":"Animal_Cicada_Solo_Loop.wav","tags":["loop","animal","cicada","single","H5","zoom","cicadas","insects","nature","field-recording","summer"],"description":"Sound
        of a single cicada (Close Recording // Loop).\n\nGears: Zoom H5\nFile: 48khz,
        24 bit, Stereo, Wav.","geotag":null,"created":"2020-04-26T12:33:01","license":"http://creativecommons.org/publicdomain/zero/1.0/","type":"wav","channels":2,"filesize":1708708,"bitrate":0,"bitdepth":24,"duration":5.93046,"samplerate":48000.0,"username":"Nox_Sound","pack":null,"pack_name":null,"download":"https://freesound.org/apiv2/sounds/515053/download/","bookmark":"https://freesound.org/apiv2/sounds/515053/bookmark/","previews":{"preview-hq-mp3":"https://cdn.freesound.org/previews/515/515053_9250976-hq.mp3","preview-hq-ogg":"https://cdn.freesound.org/previews/515/515053_9250976-hq.ogg","preview-lq-mp3":"https://cdn.freesound.org/previews/515/515053_9250976-lq.mp3","preview-lq-ogg":"https://cdn.freesound.org/previews/515/515053_9250976-lq.ogg"},"images":{"waveform_m":"https://cdn.freesound.org/displays/515/515053_9250976_wave_M.png","waveform_l":"https://cdn.freesound.org/displays/515/515053_9250976_wave_L.png","spectral_m":"https://cdn.freesound.org/displays/515/515053_9250976_spec_M.jpg","spectral_l":"https://cdn.freesound.org/displays/515/515053_9250976_spec_L.jpg","waveform_bw_m":"https://cdn.freesound.org/displays/515/515053_9250976_wave_bw_M.png","waveform_bw_l":"https://cdn.freesound.org/displays/515/515053_9250976_wave_bw_L.png","spectral_bw_m":"https://cdn.freesound.org/displays/515/515053_9250976_spec_bw_M.jpg","spectral_bw_l":"https://cdn.freesound.org/displays/515/515053_9250976_spec_bw_L.jpg"},"num_downloads":133,"avg_rating":4.555555555555555,"num_ratings":9,"rate":"https://freesound.org/apiv2/sounds/515053/rate/","comments":"https://freesound.org/apiv2/sounds/515053/comments/","num_comments":1,"comment":"https://freesound.org/apiv2/sounds/515053/comment/","similar_sounds":"https://freesound.org/apiv2/sounds/515053/similar/","analysis":"No
        descriptors specified. You should indicate which descriptors you want with
        the ''descriptors'' request parameter.","analysis_frames":"https://freesound.org/data/analysis/515/515053-fs-essentia-extractor_legacy_frames.json","analysis_stats":"https://freesound.org/apiv2/sounds/515053/analysis/","ac_analysis":{"ac_loop":false,"ac_depth":4.843744449532849,"ac_tempo":126,"ac_reverb":false,"ac_warmth":30.405794320680002,"ac_hardness":65.79382943142551,"ac_loudness":-16.38134765625,"ac_tonality":"D
        minor","ac_boominess":0.0,"ac_note_midi":102,"ac_note_name":"F#7","ac_roughness":75.54371732722906,"ac_sharpness":80.78974466634665,"ac_brightness":82.27599360122169,"ac_single_event":true,"ac_dynamic_range":0.2978973388671875,"ac_note_frequency":2909.184326171875,"ac_log_attack_time":-0.4088848829269409,"ac_note_confidence":0.43578869104385376,"ac_tempo_confidence":0.0,"ac_temporal_centroid":0.5097132921218872,"ac_tonality_confidence":0.25638699531555176},"analyzers_output":{"ac_loop":false,"ac_depth":4.843744449532849,"ac_tempo":126,"ac_reverb":false,"ac_warmth":30.405794320680002,"ac_hardness":65.79382943142551,"ac_loudness":-16.38134765625,"ac_tonality":"D
        minor","ac_boominess":0.0,"ac_note_midi":102,"ac_note_name":"F#7","ac_roughness":75.54371732722906,"ac_sharpness":80.78974466634665,"ac_brightness":82.27599360122169,"ac_single_event":true,"ac_dynamic_range":0.2978973388671875,"ac_note_frequency":2909.184326171875,"ac_log_attack_time":-0.4088848829269409,"ac_note_confidence":0.43578869104385376,"ac_tempo_confidence":0.0,"ac_temporal_centroid":0.5097132921218872,"ac_tonality_confidence":0.25638699531555176,"yamnet_class":["Wild
        animals"]},"score":null}'
  recorded_at: Wed, 29 Mar 2023 17:27:25 GMT
[...]
